<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
  <title></title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class='main'>
    <div id="app">
     {{ message }}
      <p>
        <button v-on:click='handleClick' type="button" name="button">Click</button>
      </p>
      <p>
        <input v-model.number='message' type="text" name="" value="">
      </p>
      <div class="v-if">
        <!-- <p v-if='show'>
          hellow vue show true
        </p> -->
        <!-- css v-enterなどが影響するtag -->
        <button v-on:click='show=!show' type="button" name="button"></button>
        <transition>
          <p v-if='show'>
            in transition tag
          </p>
        </transition>
      </div>
      <p v-bind:value='message'>
        change display message on condition (over message length)
        {{ lenMsgOver.length >= 'message'.length ? 'message is over' : 'message is under' }}
      </p>
      <p :value='message'>
        change display message on condition (under message length)
        {{ lenMsgUnder.length >= 'message'.length ? 'message is over' : 'message is under' }}
      </p>
      <p v-bind:text-content.prop='message'>
      </p>
      <p v-bind:scroll-top.prop='message'>
      </p>
      <!-- app.data を $dataとかける -->
      <pre>{{ $data }}</pre>

      <!-- p 61 -->
      <p>{{ count }}</p>
      <button type="button" name="button" v-on:click='clickIncrement'></button>
      <p>{{ timeCount }}</p>

      <p v-bind:class="{ child: isChild, 'is-active': isActive }">Text</p>
      <p v-bind:style="{ color: textColor, backgroundColor: bgColor }">Text</p>
      <!-- class条件の三項演算 -->
      <p v-bind:class="[isActive ? 'active' : 'normal', otherClass]">Text</p>
      <!-- classをオブジェクトで渡す -->
      <p v-bind:class='classObject'>bind by Object</p>
      <p v-bind:style='styleObject'>bind by Object</p>
    </div>

    <div id="app-2">
      <span v-bind:title="message">
         Hover your mouse over me for a few seconds
         to see my dynamically bound title!
         {{ message }}
      </span>
    </div>

    <div id="app-3">
       <span v-if="seen">Now you see me</span>
    </div>

    <div id="app-4">
      <ol>
       <li v-for="todo in todos">
         {{ todo.text }}
       </li>
      </ol>
    </div>
  </div><!-- .main -->
  <script src="main.js"></script>
</body>
</html>
