<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
  <title></title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class='main'>
    <div id="app">
     {{ message }}
      <p>
        <button v-on:click='handleClick' type="button" name="button">Click</button>
      </p>
      <p>
        <input v-model.number='message' type="text" name="" value="">
      </p>
      <div class="v-if">
        <p v-if='show'>
          hellow vue show true
        </p>
        <button v-on:click='show=!show' type="button" name="button"></button>
        <transition>
          <p v-if='show'>
            in transition tag
          </p>
        </transition>
      </div>
    </div>

    <div id="app-2">
      <span v-bind:title="message">
         Hover your mouse over me for a few seconds
         to see my dynamically bound title!
         {{ message }}
      </span>
    </div>

    <div id="app-3">
       <span v-if="seen">Now you see me</span>
    </div>

    <div id="app-4">
      <ol>
       <li v-for="todo in todos">
         {{ todo.text }}
       </li>
      </ol>
    </div>
  </div><!-- .main -->
  <script src="main.js"></script>
</body>
</html>
